In [2]:
# based on: https://www.statology.org/label-encoding-in-python/

# Label encoding permite convertir columnas categóricas en numéricas

from sklearn.preprocessing import LabelEncoder
import pandas as pd

# Creamos una instancia de label encoder
lab = LabelEncoder()

# Creamos un dataframe de prueba  DataFrame
df = pd.DataFrame({'Cedula': ['101', '202', '303', '404', '504', '606', '709', '510'],
                   'ciudad': ['Cali', 'Cali', 'Palmira', 'Palmira', 'Bogota', 'Bogota', 'Popayan', 'Palmira'],
                   'edad': [25, 12, 15, 14, 19, 23, 25, 29]})

#view DataFrame
print(df)

  Cedula   ciudad  edad
0    101     Cali    25
1    202     Cali    12
2    303  Palmira    15
3    404  Palmira    14
4    504   Bogota    19
5    606   Bogota    23
6    709  Popayan    25
7    510  Palmira    29

In [3]:
df['ciudad'] = lab.fit_transform(df['ciudad'])

#view updated DataFrame
print(df)

  Cedula  ciudad  edad
0    101       1    25
1    202       1    12
2    303       2    15
3    404       2    14
4    504       0    19
5    606       0    23
6    709       3    25
7    510       2    29

* Bogota se convirtío en 0
* Cali se convirtío en 1
* Palmira se convirtío en 2
* Popayán se convirtío en 3

In [4]:
lab.inverse_transform(df['ciudad'])

array(['Cali', 'Cali', 'Palmira', 'Palmira', 'Bogota', 'Bogota',
       'Popayan', 'Palmira'], dtype=object)